<!DOCTYPE html>
<html lang="nl">
<head>
  <title>Tools2C - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% include header.html %}
  {% include navigation.html %}
  <div class="container content" style="margin-top:15px">
    <div class="row">
      {% if page.rechts %}
        <div class="col-sm-8">
          {{ content }}
        </div>
        <div class="col-sm-4">
          {% include {{ page.rechts}} %}
        </div>
      {% elsif page.links %}
        <div class="col-sm-4">
          {% include {{ page.links }} %}
        </div>
        <div class="col-sm-8">
          {{ content }}
        </div>
      {% else %}
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          {{ content }}
        </div>
        <div class="col-sm-2"></div>
      {% endif %}
    </div>
  </div>
  {% include footer.html %}
</body>
</html>

